# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# macOS
*.DS_Store

# origin
output.log
target
*.iml
.classpath
.project
.settings
#WordNet-3.0
#WordNet-3.0.tar.gz
#opennlp-models
#apache-solr/solr-qa/data
#apache-solr/solr-qa/conf/dataimport.properties
#apache-solr/solr-tagging/data
#apache-solr/solr-tagging/conf/dataimport.properties
#apache-solr/solr-clustering/data
#apache-solr/solr-clustering/conf/dataimport.properties

